$primary-color: #34322D;
$sidebar-width: 400px;

#wrapper {
  #main,
  #sidebar {
    display: inline-block;
    height: 100vh;
  }

  #main {
    width: calc(100% - #{$sidebar-width});
    margin-left: $sidebar-width;
    padding: 20px 30px;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: $primary-color;
    color: #fff;
    box-shadow: -2px 0 20px 5px lighten($primary-color, 50);
    height: 100vh;
    text-align: center;
    padding: 80px 40px 40px;
    width: $sidebar-width;

    hr {
      border-color: lighten($primary-color, 15);
      border-style: dashed;
      margin: 50px 0;
    }

    #sidebar-heading {
      > img {
        background: lighten($primary-color, 50);
        width: 100px;
        border-radius: 50%;
      }

      h2 {
        margin: 15px 0 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    #sidebar-new {
      margin: -20px 0;
    }

    > ul {
      margin-top: -10px;
      list-style: none;
      padding: 0;

      > li {
        margin-top: 20px;

        a {
          color: lighten($primary-color, 30);
          text-transform: uppercase;
          transition: all 0.5s;
          text-decoration: none;

          &:hover {
            color: lighten($primary-color, 90);
            font-weight: bold;
          }
        }
      }
    }

    .form-control {
      border-color: lighten($primary-color, 60);
    }

    #sidebar-copyright {
      color: lighten($primary-color, 30);
      width: calc(#{$sidebar-width} - 80px);
      position: absolute;
      bottom: 20px;
      font-size: 0.7em;

      hr {
        margin: 20px 0;
      }
    }
  }
}
